header{
    background-color: white;
    /* border: solid; */
    padding: 2rem 0;
}
.container{
    width: 60vw;
    margin: auto;
    max-width: 1800px;
}
nav{
    display: flex;
    justify-content: space-between;
}
.title{
    font-weight: 700;
}
select{
    background-color: transparent;
    border-radius: 2px;
    padding: 0.2rem ;
    width: 5rem;
    cursor: pointer;
    outline: none;
}
